extends layout

block content
  .container
    .row
      each city in cities
        .col-md-3
          - var src = city.image
          .card(style='margin-top:1rem')
            div.card-image-top.btn-primary(style={
              'height':'180px',
              'background-image':`url(${src})`,
              'background-size':'cover',
              'border-radius':'12px',
              'box-shadow':'0 6px 10px -4px rgba(0,0,0,.15)'
              })
            .card-body
              h5.card-title #{city.name}
              .card-description(style='min-height:130px') #{city.description}
            hr  
            .card-footer
              a.card-link(href=`cities/${city.id}`) Edit
    a.btn.btn-just-icon.btn-primary(
      href="/admin/cities/add"
      style={
        position:'fixed',
        bottom:'50px',
        right:'50px',
        'z-index':1000,
        'box-shadow':'0 6px 10px -4px rgba(0,0,0,.15)'
      }
    )
      i.nc-icon.nc-simple-add